{% extends "starter-page.html" %}
{% load static%}
{% load crispy_forms_tags %}


{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Create a Reservation</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="full_name" class="form-label"></label>
                            {{ form.full_name|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label">Phone Number</label>
                            {{ form.phone_number|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="number_of_people" class="form-label">Number of People</label>
                            {{ form.number_of_people|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date</label>
                            {{ form.date|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="time" class="form-label">Time</label>
                            {{ form.time|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            <label for="special_requests" class="form-label">Special Requests</label>
                            {{ form.special_requests|as_crispy_field }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-lg">Submit Reservation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}