{% extends "starter-page.html" %}

{% load static %}


{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Initiate Payment</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="amount" class="form-label">Amount (Ksh)</label>
            <input type="number" name="amount" id="amount" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input type="text" name="phone_number" id="phone_number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Pay Now</button>
    </form>
</div>
{% endblock %}